@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.main-container {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.heading {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    line-height: 1.2;
}

.square-style {
    list-style-type: square
}

.disc-style {
    list-style-type: disc
}

.circle-style {
    list-style-type: circle
}

#second-article{
    margin-top: 5em;
}